body {
  margin: 0;
  padding: 0;
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e6e8ec; /* gray-300 */
  border-radius: 20px; /* full rounded */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #d0cfcf; /* gray-400 */
}
