.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
}

.h-screen {
  height: 100vh;
}

.bg-darker {
  background-color: #202020;
}

.bg-dark {
  background-color: #2d3032;
}

.font-mono {
  font-family: monospace;
}
.center-it {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-white {
  color: white;
}
.color-black {
  color: black;
}

.overflow-hidden {
  overflow: hidden;
}

.contents {
  display: grid;
  place-items: center;
  transition: filter 0.2s ease-out;
}
.non-selectable {
  user-select: none;
}
